<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="contacts.html">
  
</head>
<body>
    <footer>
        <div class="footer-content">
            <div class="contact-info">
                <h3>Контакты</h3>
                <p>Адрес: ул. Пушкина, д. Колотушкина</p>
                <p>Телефон: +996 (550) 223-428</p>
                <p>Email: crutoiproger228@gmail.com</p>
            </div>
            <div class="copyright">
                <p>&copy; 2024 eLibrary</p>
            </div>
        </div>
    </footer>
</body>
</html>